@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    scrollbar-width: none
}


.container {
    background-color: #111;
}

.salute {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.saluteTextContainer {
    flex: 3;
}

.saluteImageContainer {
    flex: 1;
}

.saluteImg {
    width: 100%;
}

.saluteText {
    color: #333;
    font-size: 60vw;
    font-weight: 700;
    cursor: default;
}

.nameContainer {
    height: 100vh;
    background-color: rebeccapurple;
}

.name {
    font-size: 12vw;
    color: #333;
    cursor: default;
    text-align: center;
    line-height: 100vh;
}

.jobTitleContainer {
    height: 100vh;
}

.top {
    background: url("img/bg1.png");
}

.bottom {
    background: rebeccapurple url("img/bg2.png");
}

.jobTitle {
    font-size: 10vw;
    color: #333;
    line-height: 100vh;
    cursor: default;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 30vh;
    padding: 0 100px;
}

.projectTitle {
    font-size: 10vw;
    color: #333;
}

.project {
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100vh;
    overflow: hidden;
}

.project:nth-child(2n) {
    flex-direction: row-reverse;
}

.phone {
    flex: 1;
    width: 300px;
    height: 605px;
    /* background-color: aqua;  */
    position: relative;
}

.screen {
    width: 264px;
    height: 567px;
    /* background-color: pink; */
    position: absolute;
    top: 17px;
    left: 18px;
    border-radius: 28px;
    overflow: scroll;
    scrollbar-width: none
}

/* .screen::-webkit-scrollbar{
    display: none;
} */


.phoneapp {
    width: 100%;
}

.projectDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.projectTitile {
    font-size: 7vw;
    color: #555;

}

.projectDescription {
    font-size: 20px;
    color: #555;
    text-align: justify;
    line-height: 40px;
}

/* .projectButton{
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.projectButton::after {
    content: "View Demo";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555;
    color: #222;
  }
  .projectButton::hover.projectButton::after{
    transform: translateX(100%);
  } */

.projectButton {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.projectButton::after {
    content: "View Demo";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555;
    color: #222;
}

.projectButton:hover.projectButton::after {
    transform: translateX(100%);
}

.laptop {
    width: 600px;
    height: 390px;
    flex: 1;
    position: relative;
}

.laptopscreen {
    width: 451px;
    height: 283px;
    position: absolute;
    top: 18px;
    left: 68px;
    overflow: scroll;
    background-color: pink;
    scrollbar-width: none
}

.laptopapp {
    width: 100%;
}

.github {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.githubTitle {
    font-size: 100px;
    color: #333;
}

.githubCharts {
    width: 820px;
    text-align: center;
}

.dates {
    padding: 10px;
    color: #555;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.box {
    width: 15px;
    height: 15px;
    background-color: #171C25;
    border-radius: 2px;
    cursor: pointer;
    transition: 3s all ease;
}

.boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.active:nth-child(4n) {
    background-color: #195b2c;
}

.githubCharts:hover .active:nth-child(2n+1) {
    background-color: #195b2c;
}

.githubCharts:hover .active:nth-child(2n) {
    background-color: #063f24;
}